

<h3>Find a record</h3>

<%= form_tag(find_path, controller: "records", action: "find", method: 'get')  do %>
    <p>Weight I am: <%= number_field_tag :start_weight, params[:start_weight] %> </p>
    <p>Weight I want to be: <%= number_field_tag :end_weight, params[:end_weight] %> </p>
 
    <p><%= submit_tag "Find Record", name: nil %></p>
<% end %>



