<div class = "main">
    <div class = "container shaded short thin about-me">
        <p class = "num-users">Q: Should I upload a record?</p>
        <p>A: Absolutely! If you're proud of the progress you've made, you should share with it to help inspire others. Your Facebook photo might get 27 likes and your <%= link_to "/r/progresspics", "http://reddit.com/r/progresspics", target: "_blank" %> post might net you some sweet karma, but the high from that will only last a few days. On TheyGotFit, your progress will be searched and seen constantly. You will show everyone that what you did is possible - over and over again.</p>
        <p class = "num-users">Q: But I'm really self-conscious about my thighs!</p>
        <p>A: A vector is defined by two things: direction and magnitude. It doesn't matter how slowly you're makind progress, as long as you're working. TheyGotFit has records from people of all shapes and sizes, all united to get fitter. Shed the self consciousness and join the club.</p>
        <p class = "num-users">Q: Who are you?</p>
        <p>A: Hi, I'm Max. You can read more about me <%= link_to "here", about_path %>.</p>
        <p class = "num-users">Q: Are you super fit?</p>
        <p>A: Not yet, but I'm trying. I did get fitter though - you can check my progress out <%= link_to "here", '#' %>.</p>
        <p class = "num-users">Q: Can I delete a record?</p>
        <p>A: Yep! Just hover over a record in your profile, and a red <strong>X</strong> should appear to the right of the record weight.</p>
        <p class = "num-users">Q: This sucks. Can I delete my account?</p>
        <p>A: Sure. Settings, "Delete Account".</p>
    </div>
</div>