<div class = "main">
    <div class = "container shaded short fat about-me">
        <p class = "num-users">Dec 28, 2015</p>
        <p>Fixed a pesky bug that came up after I added user bios. Fixed edit profile vulnerability. Adjusted colors on about me and FAQ pages.</p>
        <p class = "num-users">Dec 27, 2015</p>
        <p>Website up and basic functionality in place. Today: added the about-me section. After a user deletes a profile, (s)he is redirected to comments. Created an update log.</p>

    </div>
</div>