<div class = "main">
    <div class = "container shaded short fat about-me">
    <p class = "num-users shorter lrg">Dec 31, 2015</p>
        <p>Invited first batch of users. Adjusted the look of FAQ, update log, and About Me pages.</p>
        <p class = "num-users shorter lrg">Dec 30, 2015</p>
        <p>Moved domain to theygotfit.com and updated all email deliveries. Adjusted admin settings that allow me to see the number of users who've signed up.</p>
        <p class = "num-users shorter lrg">Dec 28, 2015</p>
        <p>Fixed a pesky bug that came up after I added user bios. Fixed edit profile vulnerability. Adjusted colors on about me and FAQ pages.</p>
        <p class = "num-users shorter lrg">Dec 27, 2015</p>
        <p>Website up and basic functionality in place. Added the about-me section. After a user deletes a profile, (s)he is redirected to comments. Created an update log.</p>

    </div>
</div>