/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *=   require_tree .
 *= require_self
 *= require pickadate/classic
 *= require pickadate/classic.date
 */

 @import 'pages.css.scss';
 @import 'records.css.scss';
 @import 'sessions.css.scss';
 @import 'shared.css.scss';
 @import 'users.css.scss';

 @font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
       url('../assets/glyphicons-halflings-regular.woff') format('woff'), 
       url('../assets/glyphicons-halflings-regular.ttf') format('truetype'), 
       url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

html, body {
  font-family: 'Hind Vadodara', sans-serif;
  font-weight: 500;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;  
  background: none;

/*  overflow: hidden; <-- this fixes the div but presents scrolling */
overflow-x: hidden;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}


 .alert {
    color: black;
    padding: 10px;
    margin-top: 3%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    max-width: 30%;
    border: 1px solid black;
    border-radius: 0px;
    &.alert-error{
        background: #FF665A;
    }
    &.alert-success{
        background: #64C83F;   
    }
 }


.errors {
    color: black;
    padding: 20px;
    background: rgba(200, 28, 25, 0.4);
    display: inline-block;
    border: 1px solid #841C19;
    border-radius: 2px;

}

.errors p {
    margin: 0px;
    padding-right: 10px;
    padding-left: 10px;
}

a {
    padding: 0px;
    color: #FFBF5D;
    &:hover{
    text-decoration: none;
    color: #187FF2;
  }
    &:active{
      text-decoration: none;
    }
}
