// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.header {
    text-align: right;
    font-size: 14px;

}

.errors {
    color: black;
    padding: 5px;
    background: rgba(193, 27, 23, 0.6);

    max-width: 17%;
}

ul {
    list-style-type: none;
}