// Place all the styles related to the Records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.find-main{
    position: relative;
}

.shaded {
    text-align: center;
    color: #C4E0FF;
    background: rgba(51, 51, 51, 0.8);
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 1%;
    margin-bottom: 3%;
}

.short {
    margin-top: 10%
}

.tall {
    margin-top: 5%;
}

.fat {
    width: 72%;
    max-width: 1050px;
}

.thin {
    width: 30%;
    max-width: 430px;
    min-width: 180px;
}


.photo-container {
    margin-right: auto;
    margin-left: auto;
    width: 95%;
    height: 600px;
    border:15px solid rgba(51, 51, 51, 0.8); 
}
    

.record-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.record-heading {
    font-size: 18px;
    width: 95%;
    margin-bottom: 3%;
    margin-right: auto;
    margin-left: auto;

    .col-md-5{
        text-align: right;
        .record-detail{
            margin-left: 15px;
        }
    }
    .col-md-7{
        text-align: left;
    }
}

.record-detail{
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    background: rgba(51, 51, 51, 1);
    border: 1px solid black;
    max-width: 35%;

    display: inline;
}

.pull-right{
    display: inline;
    float:right;

}

.pull-left{
    display: inline;
    float:left;
}


.record-caption{
    text-align: center;
    font-size: 16px;
    padding: 3px;
    margin-top: 10px;
    background: rgba(51, 51, 51, 1);
    border: 1px solid black;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    min-height: 30px;

}

.one-record {
    text-align: center;
}

.one-record .caption {

    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
}

.one-record p {
    padding: 0px;
    margin: 0px;
    max-height: 450px;
    overflow: hidden;
    text-align: center;
}

.record-info {
    margin-left: auto;
    margin-right: auto;
}



.headings {
    text-align: center;
}

.headings h2 {
    font-size: 50px;
}

.weight-fields-row {
    margin-top: 20px;
}

.weight-fields-row input[type="number"] {
    height: 60px;
    width: 220px;
    font-size: 36px;
}

.weight-options-row, .metric {
    margin-top: 30px;
}

.metric p {
    font-size: 40px;
}



.styledRadio {
    margin: 0px;
    background-position: 0px 0px;
    display: inline-block;
    margin-right: 5px;
}

.weight-label {
    font-size: 20px;
    display: inline-block;
    margin-right: 20px;

}

.submit-row {
    margin-top: 4%;
    color: black;
}

.submit-row input {
    padding: 25px  35px 25px 35px ;
    background: #C4E0FF;
    color: white;
    font-size: 23px;
    font-weight: 400;
    border: none;
    margin-bottom: 20px;
}

input {
    color: black;
}

.submit-row input:hover {
    background: #db002b;
}

.height-field{
    width: 80px;
    height: 35px;
    font-size: 18px;
    margin-right: 20px;
}

.gender-age-row {

    text-align: left;

    .col-md-6 {
        padding-left: 36px;
    }
}

.push-down {
    margin-top: 4px;
}

.form-control {
    width: 50%;
    display: inline;
}


.datepicker {
    margin: 0px;
    float: right;
    min-width: 50%;
}

.newrec-weights-row {
    text-align: left;
    float: left;

    .col-md-4 {
        padding-top: 4px;
    }

    .styledRadio {
        margin-right: 5px;
    }
}

.centered{
    text-align: center; 
    clear: both;
    margin: 1% 0% 2% 0%;
}

.your-search{
    font-size: 14px;
    padding: 5px;
    margin-top: 20px;
    background: rgba(51, 51, 51, 1);
    border: 1px solid black;
    float: left;
}

.show-record-delete{
    text-align: center;
    padding: 10px 0px 10px 0px;
}


/* SUPPORTING PHOTOS: */

.supporting-photos-row{  
    margin: 15px;
    .col-md-4{
        padding-right: 5px;
        padding-left: 5px;
    }
}

.little-photo-container{
    padding: 0px;
    border: 5px solid rgba(30, 30, 30, 1); 
    width: 100%;  
    height: 150px;
}

.little-photo{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.blue-weight {
    color: #187FF2;
}

/* Navigation Bar */

.navigation {
    font-size: 160px;
    .left-nav {
        position: absolute;
        top: 40%;
        left: 0;
    }
    .right-nav {
        position: absolute;
        top: 40%;
        right: 0;
    }

    a{
        color: #C4E0FF;
    }

    i:hover{
        color: #187FF2;
    }
}

.get-more-photos{
    text-align: left;
    color: #FFBF5D;
    &:hover{
        color: #187FF2;    
    }
}



