// Place all the styles related to the Records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.main .container {
    text-align: center;
}

.record-photo {
    max-width: 70%;
    max-height: 100%;
    border: 1px solid black;

}

.one-record {
    text-align: center;
}

.one-record .caption {

    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
}

.one-record p {
    padding: 0px;
    margin: 0px;
    max-height: 450px;
    overflow: hidden;
    text-align: center;
}

.record-info {

    margin-left: auto;
    margin-right: auto;
}

