// Place all the styles related to the Records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


.main .container {
    text-align: center;
    color: #C4E0FF;
    background: rgba(51, 51, 51, 0.7);
}

.short {
    margin-top: 12%
}

.record-photo {
    max-width: 70%;
    max-height: 100%;
    border: 1px solid black;

}

.one-record {
    text-align: center;
}

.one-record .caption {

    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
}

.one-record p {
    padding: 0px;
    margin: 0px;
    max-height: 450px;
    overflow: hidden;
    text-align: center;
}

.record-info {
    margin-left: auto;
    margin-right: auto;
}



.headings {
    text-align: center;
}

.headings h2 {
    font-size: 50px;
}

.weight-fields-row {
    margin-top: 20px;
}

.weight-fields-row input[type="number"] {
    height: 60px;
    width: 220px;
    font-size: 36px;
}

.weight-options-row, .metric {
    margin-top: 30px;
}

.metric p {
    font-size: 40px;
}



.styledRadio {
    margin: 0px;
    background-position: 0px 0px;
    display: inline-block;
}

.weight-label {
    font-size: 26px;
    display: inline;
    margin-right: 20px;

}

.submit-row {
    margin-top: 4%;
    color: black;
}

.submit-row input {
    padding: 25px  35px 25px 35px ;
    background: #187FF2;
    color: white;
    font-size: 23px;
    font-weight: 400;
    border: none;
    margin-bottom: 20px;
}

input {
    color: black;
}

.submit-row input:hover {
    background: #C4E0FF;
}

.height-field{
    width: 80px;
    height: 35px;
    font-size: 18px;
    margin-right: 20px;
}
