// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



input {
    color: black ;
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"] {
    height: 60px;
    width: 100%;
    font-size: 36px;
    margin-bottom: 10px;

        &.height-field{
        width: 80px;
        height: 35px;
        font-size: 20px;
        margin-right: 20px;
    }
}


.login-label {
    float: left;
    margin-top: 5px;
}

.submit-button {
    padding: 25px  35px 25px 35px ;
    background: #187FF2;

    font-size: 23px;
    font-weight: 400;
    border: none;
    margin-bottom: 20px;
    margin-top: 10px;
    color: black;
    &:hover {
        background: #FFBF5D;
    }
}

.remember-me{
    font-size: 14px;
    text-align: left;
    clear: both;
}

.password-reset-link {

    float: right;
    line-height: 30px;
    position: relative;
    vertical-align: bottom;
}

.no-pad{
    padding-bottom: 0px;
}



