// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-heading {
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-top: 10px;
}

.heading-light {
    font-family: 'Hind Vadodara', sans-serif;
    font-weight: 300;
}

.profile-subheading {
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.new-error {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.shaded .edit-metric {

    text-align: left;
    margin: 0px;
    .col-md-6{
        padding: 0px;
    }
    &.form-control{
        display: inline-block;
    }
    &.thin-metric{
        width: 80%;
    }
}

.delete-account a{
    color: #FF665A;
    font-size: 14px;
}

/* About Me */



.about-me-area{
    height: 120px;
    width: 100%;
    display: inline-block;
    color: black;
    font-size: 18px;
    resize: none;
    margin-top: 10px;
    margin-bottom: 20px;
}

.index-table {
    text-align: left;
    td{
        width: 20%;
    }
}

/* OG Badge */
.og-badge {
    text-align: center;
    width: 6%;
    border: 1px solid black;
    border-radius: 3px;
    background: #FFF72F;
    margin-bottom: 0px;
}
